@model HomePageViewModel
@section header{
    @await Html.PartialAsync("_header")
}
@section scripts{
    <script src="~/js/script.js"></script>
}


<h1>
    film listesi
</h1>

<div id="Filmler">
    @foreach (var movie in Model.PopularMovies)
    {
        @await Html.PartialAsync("_movie", movie)
    }

</div>
