@model List<Tur>

<div>
    <ul class="list-group">
        @foreach (var tur in Model)
        {
            <li class="list-group-item list-group-item-danger">@localizer[tur.Name]</li>
        }

    </ul>
</div>
