<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id=" navbarToggler">
            <a href="/" class=" navbar-brand">MovieApp</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a href="/movies/list" class="nav-link">Movies</a>
                </li>
                <li class="nav-item ">
                    <a href="/movies/create" class="nav-link">Create Movie</a>
                </li>
                <li class=" nav-link">
                     <partial name="_Culture" />
                </li>
            </ul>

        </div>
        <form action="/movies/list" class="form-inline my-2 my-lg-0 " method="get">
            <input class="form-control mr-sm-2" name ="q"type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>